// Colors

$ec-dark-grey: #1A1A1A;
$ec-green: #168316;
$ec-green-alt: #1C4C54;
//$ec-green-final: #0D670C;
$ec-green-final: #005627;
//$ec-yellow-alt: #FFA31A;
$ec-yellow-alt: #FFC000;
//$ec-yellow: rgba(201, 140, 47, 1);
$ec-yellow: #FF9900;
$ec-dark-grey-alt: #424242;
$ec-light-grey: #e9e9e9;
$ec-medium-grey: #bcbcbc;
$ec-zapote: #AD0505;
$ec-orange: #ff6600;
//
//$max-width: 958px;
//
html{
	background-color: lighten($ec-dark-grey, 15%);
	//background-color: $ec-yellow;
	width: 100%;
}
body{
	background-color: $ec-light-grey;
	margin: 0 auto;
	max-width: 1600px;
	//position: relative;
	width: 100%;
	font: 400 100%/1.5 'Roboto';
	@media screen and (min-width: 1150px){
		font-size: 112.5%;
	}
	@media screen and (min-width: 1350px){
		font-size: 125%;
		line-height: 1.5;
	}
}
section, article{
	position: relative;
	@include clearfix;
	> header{
		padding: 8em 4%;
		overflow-y: hidden;
		text-align: center;
		@media screen and (min-width: 550px){
			padding: 16em 4%;
		}
		@media screen and (min-width: 750px){
			padding: 16em 17%;
		}
	}
}
.content{
	padding: 3em 4%;
	box-sizing: border-box;
	@include clearfix;
	@media screen and (min-width: 450px){
		padding: 6em 4%;
	}
	@media screen and (min-width: 750px){
		padding: 12em 4%;
	}
	&.narrow {
    @media screen and (min-width: 750px){
    	padding-left: 8%;
    	padding-right: 8%;
    }
    @media screen and (min-width: 1000px){
      padding-left: 17%;
      padding-right: 17%;
    }
  }
	//
	&.background {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		padding: 16em 4%;
		@media screen and (max-width: 550px) {
			padding: 10em 4%;
		}
	}
}
.button {
  //background-color: $ec-pantonegreen;
  border: none;
  border-radius: 0;
  display: inline-block;
  font-weight: 300;
  font-size: 1.2em;
  margin: 0 auto;
  padding:0.8em 2em;
  text-align: center;
  box-sizing: border-box;
  -webkit-appearance: none;
  &:hover {
    background-color: white;
    color: $ec-green-final;
    @include transition(all 0.1s ease);
  }
  @media screen and (max-width: 400px) {
    font-size: 1em;
  }
}
//
.site-header{
	background-color: $ec-yellow-alt;
	height: 100px;
	margin: 0 auto;
	max-width: 1600px;
	padding: 1.25em 0;
	position: fixed;
	top: 0;
	text-align: center;
	width: 100%;
	z-index: 1000;
	box-sizing: border-box;
	@include transition(all 0.5s ease-in-out);
	@media screen and (min-width: 550px){
		height: 150px;
		padding: 1.8em 2em;
	}
	.scrolling & {
		background-color: rgba($ec-yellow-alt,0.9);
		height: 70px;
		padding: 0.6em;
		@media screen and (min-width: 550px){
			height: 100px;
			padding: 1.25em 2em;
		}
	}
}
.site-nav{
	text-align: center;
	font-weight: 500;
	font-size: 0.9em;
	position: relative;
	li {
		//background-color: aqua;
		display: inline-block;
		margin-right: 1em;
		&:last-child{
			margin-right: 0;
		}
	}
	a {
		font-variant: small-caps;
		color: $ec-green-final;
		&:hover, &.active {
			color: rgba($ec-green-final,0.8);
		}
	}
	@media screen and (min-width: 400px){
		//font-size: 1em;
		li {
			margin-right: 1.5em;
		}
	}
	@media screen and (min-width: 750px){
		//font-size: 1.1em;
		li {
			margin-right: 3em;
		}
	}
	@media screen and (min-width: 950px){
		//font-size: 1.3em;
		li {
			margin-right: 5em;
		}
	}
}
#logo{
	cursor: pointer;
	height: 60px;
	width: 60px;
	//
	display: inline-block;
	vertical-align: middle;
	//
	@include transition(all 0.5s ease);
	> svg{
		width: 100%;
		height: 100%;
		//position: absolute;
		top: 0;
		left: 0;
		path {
			fill: $ec-green-final;
		}
	}
	&:hover{
		opacity: 0.5;
	}
	.scrolling &{
			height: 50px;
			width: 50px;
		}
	@media screen and (min-width: 550px){
		height: 80px;
		width: 80px;
		.scrolling & {
			height: 60px;
	    width: 60px;
	  }
	}
}
.cards{
	//max-width: 750px;
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(center);
	.card{
		@include flex-basis(250px);
		@include flex-grow(0);
		margin: 0em 1.5em 0em;
		text-align: center;
		.card-image{
			overflow: hidden;
			max-width: 200px;
			max-height: 200px;
			border-radius: 100%;
			margin-left: auto;
			margin-right: auto;
			img{
				max-width: 100%;
			}
		}
		@media screen and (min-width: 750px){
			@include flex-basis(300px);
		}
	}
}
.social-icons {
  //margin: 0 0 1.5em;
  padding: 0;
	text-align: center;
	span {
		display: none;
	}
	li {
		display: inline;
    margin-right: 1em;
    font-size: 1.4em;

		@media screen and (min-width: 550px) {
      font-size: 1.8em;
    }
		@media screen and (min-width: 750px){
			margin-right: 0.4em;
		}
    &:last-child {
      margin: 0;
    }
    a {
    	display: inline-block;
      border-color: $ec-green-final;
      border-style: solid;
      border-width: 4px;
      border-radius: 50%;
      color: $ec-green-final;
      width: 2em;
      height: 2em;
      padding-top: 0.1em;
      text-align: center;
      @include transition(all 0.1s ease);
			@media screen and (min-width: 450px) {
				border-width: 6px;
				padding-top: 0.1em;
			}
      &:hover {
        border-color: rgba($ec-green-final,0.8);
        color: rgba($ec-green-final,0.8);
      }
    }
  }
	@media screen and (min-width: 750px){
		display: inline;
		float: left;
		width: 33%;
	}
}
.ec-copy{
	text-align: center;
	padding-top: 1em;
	@media screen and (min-width: 750px){
		display: inline;
		float: left;
		width: 66%;
	}
}
//
.home{
	//height: 1200px;
	header{
		background-color: $ec-yellow-alt;
		h1{
			color: $ec-green-final;
			text-align: center;
			font-size: 2.6em;
		}
		p{
			color: $ec-dark-grey-alt;
			font-size: 1.2em;
		}
		@media screen and (min-width: 650px){
			h1{
				font-size: 3em;
			}
			p{
				font-size: 1.4em;
			}
		}
		@media screen and (min-width: 950px){
			h1{
				font-size: 4em;
			}
			p{
				font-size: 1.6em;
			}
		}
	}
}
.home-about-us{
	background-color: lighten($ec-light-grey,0%);
	text-align: center;
	//color: white;
	h1{
		color: $ec-zapote;
		text-align: center;
		font-size: 2.6em;
		@media screen and (min-width: 750px){
			float: left;
			margin-right: -100%;
			margin-left: 0;
			width: 48%;
		}
	}
	p{
		color: $ec-dark-grey-alt;
		margin: 0 0 2em;
		font-size: 1.2em;
		@media screen and (min-width: 750px){
			float: left;
			margin-right: -100%;
			margin-left: 52%;
			width: 48%;
		}
	}
	@media screen and (min-width: 650px){
		h1{
			font-size: 3em;
		}
		p{
			font-size: 1.4em;
		}
	}
	@media screen and (min-width: 950px){
		h1{
			font-size: 3.6em;
		}
		p{
			font-size: 1.6em;
		}
	}
}
.home-staff{
	background-color: $ec-yellow-alt;
	.staff-header{
		text-align: center;
		h1{
			font-size: 2.4em;
			color: $ec-green-final;
		}
		@media screen and (min-width: 750px){
			h1{
				font-size: 3em;
				padding: 1.5em 0.5em 0.5em 0.5em;
			}
		}
	}
	.cards{
		h2{
			font-size: 1.6em;
			color: $ec-zapote;
			padding: 1em 0em 0.5em;
		}
		p{
			font-size: 1.2em;
			color: $ec-dark-grey-alt;
		}
	}
}
.featured-projects{
	padding: 0 !important;
	position: relative;
	article{
		overflow: auto;
		position: relative;
		background-image: linear-gradient(40deg, #C9DAE8,  rgba(255, 255, 255, 0.4)), url("../images/dogs-tennis-ball-1600x900.jpg");
		text-align: center;
		h1{
			color: $ec-zapote;
			font-size: 2.6em;
		}
		h2{
			color: $ec-dark-grey-alt;
			font-size: 1.8em;
		}
	}
}
.contact-us{
	background-color: lighten($ec-yellow-alt,0%);
	text-align: center;
	h1{
		font-size: 2.6em;
		color: $ec-green-final;
	}
	p{
		font-size: 1.6em;
		color: $ec-dark-grey-alt;
	}
}
.site-footer{
	padding:  1.5em;
	//background-color: $ec-zapote;
	.ec-copy{
		color: $ec-green-final;
	}
}
