---
title: welcome to el canino
---
<section class="home">
	<header>
		<div class="animated-content">
			<h1> welcome to elCanino</h1>
			<p class="intro"> El Canino is a pet care service spcialized in put your dog to sleep, yeah!!! to sleep, at home, after a badass jog in the beautiful parks and trails of the bay area.</p> 
		</div>
	</header>
</section>