---
title: welcome to el canino
---
<section id="home" class="home">
	<header>
		<div class="animated-content">
			<h1>dog energetic friendly shy calm exersise socialise age tranquility home </h1>
			<p class="intro"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus enim, vulputate in libero non, tristique imperdiet metus. </p>
		</div>
	</header>
	<div id="about" class="content narrow home-about-us">
		<div class="animated-block">
			<h1>elCanino is about...</h1>
			<p class="intro"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus enim, vulputate in libero non, tristique imperdiet metus.</p>
		</div>
	</div>
	<div id="staff" class="content home-staff">
		<div class="animated-block">
			<div class="staff-header">
				<h1>elCanino crew</h1>
			</div>
			<%= partial "cards" %>
		</div>
	</div>
	<div id="services" class="featured-projects content">
		<article class="content ft-anim">
			<h1>@elCanino "dog is boss"</h1>
			<h2> Group Dog Walks</h2>.
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus enim, vulputate in libero non, tristique imperdiet metus.</p>
			<h2>Solo Dog Walks</h2>
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus enim, vulputate in libero non, tristique imperdiet metus.</p>
		</article>
	</div>
	<div id="contact" class="content narrow contact-us">
		<div class="animated-block">
			<h1>we want to hear from you</h1>
			<p class="intro"> call <i class="fa fa-envelope fa-w"></i> or mail <i class="fa fa-phone-square fa-w"></i></p>
		</div>
	</div>
</section>
